body {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-content {
  font-size: 1.5em;
  text-align: left;
  position: absolute;
  top: 100px;
  left: 70px;
}

button {
  background-image: linear-gradient(to bottom right, salmon, darkred);
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  border-radius: 12px;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  top: 240px;
}

button:hover {
  background-image: linear-gradient(to bottom right, salmon, darkred);
  color: grey;
}

#begin-study-button,
#begin-main-study-button {
  padding: 10px 20px;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#prestudy-notif {
  font-size: 1em;
}

#prestudy {
  font-size: 1em;
  text-align: left;
  position: absolute;
  top: 50px;
  left: 70px;
  right: 70px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inputText {
  position: absolute;
  top: 620px;
  margin: 20 auto;
  width: 150px;
  height: 20px;
}

#prestudy button {
  position: absolute;
  top: 660px;
  margin: 0 auto;
}

#prestudy-chart {
  position: absolute;
  top: 65px;
  margin: 0 auto;
}

#prestudy-question {
  position: absolute;
  top: 500px;
  margin: 0 auto;
}

#show-user-id {
  position: absolute;
  top: 300px;
  left: 0px;
  margin: 0 auto;
}

#question {
  position: absolute;
  top: 600px;
  left: 20px;
}

#chart {
  position: absolute;
  top: 10px;
  left: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  position: absolute;
  left: 20px;
  top: 640px;
}

#options label {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}

#options input[type="radio"],
#options input[type="checkbox"] {
}

#study-content button {
  position: absolute;
  top: 720px;
  left: 20px;
}

#study-content button:hover {
  background-image: linear-gradient(to bottom right, salmon, darkred);
  color: grey;
}

#congrats-cat {
  position: absolute;
  top: 30px;
  left: 20px;
  margin: 0 auto;
}

#calibration-screen p {
  position: absolute;
  font-size: 3em;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: grey;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
